
.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.eb-garamond {
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.bold {
    font-weight: 700;
}

.extra-bold {
    font-weight: 800;
}

.Medium {
    font-weight: 500;
}

.semi-bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.container-colors {
    display: flex;
    max-width: 100%;
    justify-content: center;
    flex-wrap: no-wrap;
}

.colors {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    flex: 1;
    padding-top: 10%;
    padding-bottom: 10%;
    max-width: 600px;
    border: 1px solid rgb(0, 0, 0);
    color: white;
    
}

#color1 {
    background-color: #6400DB;
}

#color2 {
    background-color: #DB00AE;
}

#color3 {
    background-color: #8ADB00;
}

.container-fonts {
    display: flex;
    max-width: 100%;
    justify-content: center;
    flex-wrap: no-wrap;
}

.fonts {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    flex: 1;
    padding-top: 10%;
    padding-bottom: 10%;
    max-width: 600px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

#fonts1 {

}

#fonts2 {

}

#fonts3 {

}

.container-text-styles {
    display: flex;
    max-width: 100%;
    justify-content: center;
    flex-wrap: no-wrap;
}

.text-styles {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    flex: 1;
    padding-top: 10%;
    padding-bottom: 10%;
    max-width: 600px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

#text-styles1 {

}

#text-styles2 {
    
}

#text-styles3 {
    
}

#text-styles4 {
    
}

