
.container-colors {
    display: flex;
    max-width: 100%;
    justify-content: center;
    flex-wrap: no-wrap;
}

.colors {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    flex: 1;
    max-width: 600px;
    border: 1px solid rgb(0, 0, 0);
    color: white;
    
}

#color1 {
    background-color: #6400DB;
}

#color2 {
    background-color: #DB00AE;
}

#color3 {
    background-color: #8ADB00;
}

.fonts {
    border: 1px solid rgb(0, 0, 0);
}

.text-styles {
    border: 1px solid rgb(0, 0, 0);
}

