

.colors1 {
    border: 1px solid rgb(0, 0, 0);
    background-color: #6400DB;
    color: white;
}

.colors2 {
    border: 1px solid rgb(0, 0, 0);
    background-color: #DB00AE;
    color: white;
}

.colors3 {
    border: 1px solid rgb(0, 0, 0);
    background-color: #8ADB00;
    color: white;
}

.fonts {
    border: 1px solid rgb(0, 0, 0);
}

.text-styles {
    border: 1px solid rgb(0, 0, 0);
}

