
.container-colors {
    display: flex;
}

.container-colors .colors1 {
    display: inline-block;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    border: 1px solid rgb(0, 0, 0);
    background-color: #6400DB;
    color: white;
}

.container-colors .colors2 {
    display: inline-block;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    border: 1px solid rgb(0, 0, 0);
    background-color: #DB00AE;
    color: white;
}

.container-colors .colors3 {
    display: inline-block;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    border: 1px solid rgb(0, 0, 0);
    background-color: #8ADB00;
    color: white;
}

.fonts {
    border: 1px solid rgb(0, 0, 0);
}

.text-styles {
    border: 1px solid rgb(0, 0, 0);
}

