
.container-colors {
    display: flex;
    max-width: 100%;
    justify-content: center;
    flex-wrap: no-wrap;
}

.container-colors .colors {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    flex: 1;
    max-width: 600px;
    
}

.color1 {
    border: 1px solid rgb(0, 0, 0);
    background-color: #6400DB;
    color: white;
}

.color2 {
    border: 1px solid rgb(0, 0, 0);
    background-color: #DB00AE;
    color: white;
}

.color3 {
    border: 1px solid rgb(0, 0, 0);
    background-color: #8ADB00;
    color: white;
}

.fonts {
    border: 1px solid rgb(0, 0, 0);
}

.text-styles {
    border: 1px solid rgb(0, 0, 0);
}

